@(application: JobApplication,
        user: User,
        job: Option[Job],
        competences: Seq[(Competence, ApplicationCompetence)],
        availabilities: Seq[Availability])(implicit req: RequestHeader)

@main("Application Description ", Page.Other) {

    <br/>
    <h1>Application number: @application.id</h1>
    <br/>
    <dl>
        <dt>Full Name</dt>
        <dd>@user.firstname @user.surname</dd>
        <dt>Username</dt>
        <dd>@user.username</dd>
        <dt>E-mail</dt>
        <dd>@user.email</dd>

        <dt>Job</dt>
        <dd>@job.map(_.name)</dd>

        <dt>Availabilities</dt>
        <dd>
            <ul>
            @for((availability) <- availabilities) {
                <li> <div>From:</div>
                    @availability.from</li>
                <li> <div>To:</div>
                    @availability.to </li>
            }
            </ul>
        </dd>

        <dt>Date of Application</dt>
        <dd>@application.date.map(DateFormat.formatInstant)</dd>
        <dt>Applicant Description</dt>
        <dd>@application.description </dd>

        <dt>Applicant Competence</dt>
        <dd>
            <ul>
            @for((competence, appCompetence) <- competences) {
                <li>@competence.name (@appCompetence.yearsOfExperience years)</li>
            }
            </ul>
        </dd>
    </dl>
    @if(req.userRole >= Role.Employee) {
        <div>
        @helper.form(routes.JobController.setApplicationStatus(application.id)) {
            @helper.CSRF.formField
            <button type="submit" name="status" value="accept" class="btn btn-success">Accept</button>
            <button type="submit" name="status" value="deny" class="btn btn-danger">Deny</button>
        }
        </div>
    }
}
