@(applications: Seq[(JobApplication, Job, User)])(implicit req: RequestHeader)

    @main("List of applications", Page.ApplicationList) {
    <br/>
        <h1>All the applications</h1>
    <br/>
    <table class="table">
        <thead class="thead-dark">
                <tr>
                    <th>Application No.</th>
                    <th>Username</th>
                    <th>Job Name</th>
                    <th>Apply Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            @for((application, job, user) <- applications) {
                <tr>
                    <td><a href="@routes.JobController.applicationDescription(job.id, application.id)">@application.id.raw</a></td>
                    <td>@user.username</td>
                    <td><a href="@routes.JobController.jobDescription(job.id)">@job.name</a></td>
                    <td>@application.date.map(DateFormat.formatInstant)</td>
                    <td>@application.accepted match {
                        case None => { Pending }
                        case Some(true) => { Accepted }
                        case Some(false) => { Denied }
                    }</td>
                </tr>
            }
            </tbody>
        </table>
    }
