@import helper._
@import views.Page

@(form: Form[JobController.ApplyForm], job: Job, possibleCompetences: Map[String, Competence])(implicit messages: MessagesProvider, req: RequestHeader)

@main("Apply", Page.Other) {

    @helper.form(routes.JobController.doApplyForJob(job.id), 'class -> "form-signin") {
        @helper.CSRF.formField
        <fieldset>
            <h1 class="h3 mb-3 font-weight-normal">Apply to be a @job.name!</h1>

           @helper.textarea(form("description"),'class -> "form-control", '_label -> "Why are you a good fit for this job?")
            <table class="table table-bordered apply-competences">
                <thead class="thead-dark">
                <tr>
                    <th>Competences</th>
                    <th>Years of Experience</th>
                </tr>
            </thead>
            <tbody>
            @helper.repeat(form("competences"), min = 0) { competence =>
                @defining(possibleCompetences(competence("id").value.get)) { competenceInfo =>
                    <tr>
                        <td>
                            @competenceInfo.name
                            <input type="hidden" name="@competence("id").name" value="@competenceInfo.id.raw"/>
                        </td>
                        <td>@helper.inputText(competence("experienceYears"),'class -> "form-control", Symbol("data-competence-id") -> competenceInfo.id.raw)</td>
                    </tr>
                }
            }
            </tbody>
            </table>


            <table class="table table-bordered apply-availabilities">
                <thead class="thead-dark">
                    <tr>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody>
                @helper.repeat(form("availabilities")) { availability =>
                    <tr>
                        <td>@helper.inputDate(availability("from"), '_label -> "Availability begins at")</td>
                        <td>
                            @helper.inputDate(availability("to"), '_label -> "until")
                            @for(error <- availability.errors) {
                                <dd class="error">@error.message</dd>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            @* @helper.repeat(form("competences")) { competence =>
            @helper.select(competence("id"), possibleCompetences.map(competence => (competence.id.raw.toString, competence.name)), '_label -> "Competence")
            @helper.inputText(competence("experienceYears"), '_label -> "Years of experience")
            } *@
            @* @helper.repeat(form("availabilities")) { availability =>
                @helper.inputDate(availability("from"),'_label -> "Availability begins at")
                @helper.inputDate(availability("to"), '_label -> "until")
            } *@




            <button id="apply" class="btn btn-lg btn-primary btn-block" type="submit">Apply</button>
        </fieldset>
    }
}
