@import helper._
@import views.Page

@(form: Form[ApplyController.ApplyForm], possibleCompetences: Seq[Competence])(implicit messages: MessagesProvider, req: RequestHeader)

@main("Apply", Page.Other) {

    @helper.form(routes.ApplyController.doApply(), 'class -> "form-signin") {
        @helper.CSRF.formField
        <fieldset>
            <h1 class="h3 mb-3 font-weight-normal">Apply for the job</h1>
            @helper.textarea(form("description"), 'class -> "form-control", 'placeholder -> "Please write the description here...", '_label -> "A short description of yourself")
            @helper.select(form("Your area of expertise"), possibleCompetences.map(competence => (competence.id.raw.toString, competence.name)), 'multiple -> true)

            <button id="apply" class="btn btn-lg btn-primary btn-block" type="submit">Apply</button>
        </fieldset>

    }
}
