@(job: Job)(implicit req: RequestHeader)
@main("Job description", Page.Other) {
    <br/>
    <h1>@job.name</h1>
    <dl>
        <dt>From</dt>
        <dd>@DateFormat.formatInstant(job.fromDate)</dd>
        <dt>To</dt>
        <dd>@job.toDate.map(DateFormat.formatInstant)</dd>
        <dt>Location</dt>
        <dd>@job.country</dd>
        <dt>About</dt>
        <dd>@job.description</dd>
        <dt>Requirement</dt>
        <dd>@job.requirement</dd>
    </dl>
    <div>
        <a href="@routes.JobController.applyForJob(job.id)" id="apply" class="btn btn-lg btn-primary">Apply</a>
    </div>
    <br/>

}
