@()

@main("Login") {
    <h1>UNDER CONSTRUCTION =) </h1>

        <div class="loginsquare">
            <form action="login.php" method="post">
            <fieldset>
            <p>Welcome back user.</p>
            <br>
                Username:<br>
            <input type="text" name="username"><br>
                Password:<br>
            <input type="password" name="password"><br><br>
            <input type="submit" id="login" value="Login">
            </fieldset>
        </form>

    </div>
}