@(form: Form[LoginController.LoginForm])(implicit messages: MessagesProvider)

    @main("Login") {
        <h1>UNDER CONSTRUCTION =) </h1>

        <div class="loginsquare">
        @helper.form(routes.LoginController.doLogin()) {
            <fieldset>
                <p>Welcome back user.</p>
                @helper.inputText(form("username"), '_label -> "Username")
                @helper.inputText(form("password"), '_label -> "Password")
                <input type="submit" id="login" value="Login">
            </fieldset>
        }

        </div>
    }