@()

@main("Register") {
    <h1>UNDER CONSTRUCTION =)</h1>

    <div class="registersquare">
        <form action="register.php" method="post">
            <fieldset>
                <p>Hi there new user.</p>
                <br>
                Username:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="password" name="password"><br><br>

                <input type="submit" value="Register"> <br>
            </fieldset>
        </form>
    </div>
}