@(form: Form[LoginController.RegisterForm])(implicit messages: MessagesProvider, req: RequestHeader)

@main("Register") {
    <h1>UNDER CONSTRUCTION =)</h1>

    <div class="registersquare">
    @helper.form(routes.LoginController.doRegister()) {

            <fieldset>
                <p>Hi there new user.</p>
                @helper.inputText(form("username"), '_label -> "Username")
                @helper.inputText(form("password"), '_label -> "Password")
                @helper.inputText(form("confirmPassword"), '_label -> "Confirm password")
                @helper.inputText(form("firstname"), '_label -> "First Name")
                @helper.inputText(form("surname"), '_label -> "Surname")
                @helper.inputText(form("email"), '_label -> "Email address")
                <input type="submit" id="register" value="Register"> <br>
            </fieldset>
    </div>
}
}
